/* line 5, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/main.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 22, ../sass/main.scss */
body {
  margin-bottom: 80px;
  padding-top: 50px;
}

/* line 28, ../sass/main.scss */
p {
  font-size: 1.2rem;
}
@media (max-width: 639px) {
  /* line 28, ../sass/main.scss */
  p {
    font-size: 1rem;
  }
}

/* line 38, ../sass/main.scss */
.actualizando {
  opacity: 0 !important;
}

/* line 43, ../sass/main.scss */
.flex-p {
  align-content: space-around;
  align-items: baseline;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

/* line 52, ../sass/main.scss */
.flex-p p:first-child {
  margin-top: 50px;
}

/* line 57, ../sass/main.scss */
.flex-p p:first-child:first-letter {
  font-size: 2rem;
}

/* line 62, ../sass/main.scss */
.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 80px;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 71, ../sass/main.scss */
.footer p {
  font-size: 1rem;
  padding: 20px;
}
@media (max-width: 639px) {
  /* line 71, ../sass/main.scss */
  .footer p {
    padding: 10px;
  }
}

/* line 85, ../sass/main.scss */
.img0 {
  float: left;
  padding: 1em;
}
@media (max-width: 639px) {
  /* line 85, ../sass/main.scss */
  .img0 {
    max-width: 200px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  /* line 85, ../sass/main.scss */
  .img0 {
    max-width: 300px;
  }
}
@media (min-width: 1024px) {
  /* line 85, ../sass/main.scss */
  .img0 {
    max-width: 500px;
  }
}

/* line 85, ../sass/main.scss */
.img1 {
  float: right;
  padding: 1em;
}
@media (max-width: 639px) {
  /* line 85, ../sass/main.scss */
  .img1 {
    max-width: 200px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  /* line 85, ../sass/main.scss */
  .img1 {
    max-width: 300px;
  }
}
@media (min-width: 1024px) {
  /* line 85, ../sass/main.scss */
  .img1 {
    max-width: 500px;
  }
}

/* line 113, ../sass/main.scss */
.ital {
  font-style: italic;
}

@media (max-width: 639px) {
  /* line 120, ../sass/main.scss */
  .jumbotron h1 {
    font-size: 2.2rem !important;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  /* line 120, ../sass/main.scss */
  .jumbotron h1 {
    font-size: 4rem !important;
  }
}
@media (min-width: 1024px) {
  /* line 120, ../sass/main.scss */
  .jumbotron h1 {
    font-size: 6rem !important;
  }
}

/* line 139, ../sass/main.scss */
#intro {
  max-width: 100%;
  margin: 20px;
}

/* line 145, ../sass/main.scss */
#main {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  padding: 40px 15px;
  opacity: 1;
  text-align: center;
}

/* line 154, ../sass/main.scss */
#main p {
  padding: 20px;
}
@media (max-width: 639px) {
  /* line 154, ../sass/main.scss */
  #main p {
    padding: 10px;
  }
}
