@import "compass/reset";
@import "compass/css3/transition";

@import "mixins/media";

$footer-altura: 80px;

$padTextoInicial: 50px;
$margen: 20px;
$margenTlf: 10px;

$telefono-ancho: 639px;
$tablet-ancho: 640px;
$pc-ancho: 1024px;

html 
{
    min-height: 100%; // Necesario para que el footer con bottom 0 no se desplace en resoluciones menores
    position: relative;
}

body
{
    margin-bottom: $footer-altura;
    padding-top: $padTextoInicial;
}

p
{
    font-size: 1.2rem;
    
    @include telefono
    {
        font-size: 1rem;
    }
}

.actualizando
{
    opacity: 0 !important;
}

.flex-p
{
    align-content: space-around;
    align-items: baseline;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.flex-p p:first-child
{
    margin-top: $padTextoInicial;
}

.flex-p p:first-child:first-letter
{
    font-size: 2rem;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: $footer-altura;
    position: absolute;
    text-align: center;
    width: 100%;
}

.footer p
{
    font-size: 1rem;
    
    padding: $margen;
    
    @include telefono
    {
        padding: $margenTlf
    }
}

@for $i from 0 through 1
{
    .img#{$i}
    {
        @if $i % 2 == 0
        {
            float: left;
        }
        @else
        {
            float: right;
        }
        
        padding: 1em;
        
        @include telefono
        {
            max-width: 200px;
        }
        @include tablet
        {
            max-width: 300px;
        }
        @include pc
        {
            max-width: 500px;
        }
    }
}

.ital
{
    font-style: italic;
}

.jumbotron
{
    h1
    {
        @include telefono
        {
            font-size: 2.2rem !important;
        }
        
        @include tablet
        {
            font-size: 4rem !important;
        }
        
        @include pc
        {
            font-size: 6rem !important;
        }
    }
}

#intro
{
    max-width: 100%;
    margin: $margen;
}

#main
{
    @include transition-duration(1s);
    @include transition-property(opacity);
    padding: 40px 15px;
    opacity: 1;
    text-align: center;
}

#main p
{
    padding: $margen;
    
    @include telefono
    {
        padding: $margenTlf;
    }
}
